.example-card {
  width: 100% !important;
  max-width: 85%;
  margin: 20px auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.image-category{
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
